.app {
    padding: 30px;
    display: flex;
}

.app > div {
    margin-right: 50px;
}

.task {
    font-weight: bold;
}

.task-done {
    text-decoration: line-through;
    font-style: italic;
}

.btn-active {
    background-color: #a0ec63;
    border-color: #92ff3c;
    border-radius: 5px;
}

.error {
    border: 3px solid red;
    outline: none;
}