.app {
    padding: 30px;
    display: flex;
}

.app > div {
    margin-right: 50px;
}

.task {
    font-weight: bold;
}

.isDone {
    text-decoration: line-through;
    opacity: 50%;
    font-style: italic;
}

.btn-active {
    color: white;
    background-color: #4CAF50;
    border: 3px solid white;
    border-radius: 5px;
}

.error {
    border: 3px solid red;
    outline: none;
}